<h1>Shopping List</h1>
<h2>Reagents Currently in the Shopping List</h2>
<table>
  <thead>
    <colgroup>
      <col width="15%" />
      <col width="30%" />
      <col width="30%" />
      <col />
    </colgroup>
    <tr>
      <th scope="col">Quantity</th>
      <th scope="col">Name</th>
      <th scope="col">External Database Link</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>100</td>
      <td>Northern Spices</td>
      <td>
        <a href="https://wotlkdb.com/?item=43007">External Database Link</a>
      </td>
      <td><button>Change Quantity</button>&#32;<button>Remove</button></td>
    </tr>
    <tr>
      <td>200</td>
      <td>Nettlefish</td>
      <td>
        <a href="https://wotlkdb.com/?item=41813">External Database Link</a>
      </td>
      <td><button>Change Quantity</button>&#32;<button>Remove</button></td>
    </tr>
  </tbody>
</table>
<h2>Actions</h2>
<button>Add a Reagent Manually</button>
<button>Clear the Shopping List</button>
