<h1>Shopping List</h1>
<h2>Reagents Currently in the Shopping List</h2>
<p *ngIf="items.length == 0">Your shopping list is currently empty.</p>
<table *ngIf="items.length > 0">
  <thead>
    <colgroup>
      <col width="15%" />
      <col width="30%" />
      <col width="30%" />
      <col />
    </colgroup>
    <tr>
      <th scope="col">Quantity</th>
      <th scope="col">Name</th>
      <th scope="col">External Database Link</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.quantity }}</td>
      <td>{{ item.name }}</td>
      <td>
        <a href="{{ item.externalDatabaseLink }}" target="_blank" rel="noopener noreferrer" *ngIf="item.externalDatabaseLink != null">{{ item.name }}</a>
      </td>
      <td>
        <button (click)="changeShoppingListItemQuantity(item)">Change Quantity</button>
        &#32;
        <button (click)="removeShoppingListItem(item)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
<h2>Actions</h2>
<button (click)="addShoppingListItem()">Add a Reagent Manually</button>
&#32;
<button *ngIf="items.length > 0" (click)="clearShoppingListItem()">Clear the Shopping List</button>
