<h1>The Best Recipe Book</h1>
<h2>Available Recipes</h2>
<p>Here are recipes that are available at the moment:</p>
<ul>
  <li>
    <a href="https://wotlkdb.com/?spell=57423">External Database Link</a>
    (<a href="#">Show Details</a>)
  </li>
  <li>
    <a href="https://wotlkdb.com/?spell=58527">External Database Link</a>
    (<a href="#">Show Details</a>)
  </li>
  <li>
    <a href="https://wotlkdb.com/?spell=58528">External Database Link</a>
    (<a href="#">Show Details</a>)
  </li>
  <li>Blackened Dragonfin</li>
  <li>Blackened Worg Steak</li>
  <li>Critter Bites</li>
</ul>
<h2>Shopping List</h2>
<p>Do you want to go to your shopping list?</p>
<h2>Credits</h2>
<p>The Recipe Book application by Andrey Talanin.</p>
<p>The recipes by Blizzard Entertainment, Inc.</p>
<p>Tooltips provided by AoWoW & DBWotLK.</p>
