<h1>The Best Recipe Book</h1>
<h2>Available Recipes</h2>
<p>Here are recipes that are available at the moment:</p>
<ul>
  <li *ngFor="let recipe of recipeList">
    <a href="{{ recipe.externalDatabaseLink }}" target="_blank" rel="noopener noreferrer">{{ recipe.title }}</a>
    (<a routerLink="/recipe-details/{{ recipe.id }}">Show Recipe Details</a>)
  </li>
</ul>
<h2>Shopping List</h2>
<p>Do you want to go to your <a routerLink="/shopping-list">shopping list</a>?</p>
<h2>Credits</h2>
<p>The Recipe Book application by Andrey Talanin.</p>
<p>The recipes by Blizzard Entertainment, Inc.</p>
<p>Tooltips provided by AoWoW & DBWotLK.</p>
