<h1>Fish Feast - Recipe Details</h1>
<h2>Description</h2>
<p>Set out a great feast that will feed your party!</p>
<p>Restores 22500 health and 19200 mana over 30 sec.</p>
<p>If you spend at least 10 seconds eating you will become well fed and gain 80 Attack Power, 46 Spell Power and 40 Stamina for 1 hr.</p>
<h2>Recipe Reagents</h2>
<table>
  <thead>
    <colgroup>
      <col width="15%" />
      <col width="30%" />
      <col width="30%" />
      <col />
    </colgroup>
    <tr>
      <th scope="col">Quantity</th>
      <th scope="col">Name</th>
      <th scope="col">External Database Link</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>100</td>
      <td>Northern Spices</td>
      <td>
        <a href="https://wotlkdb.com/?item=43007">External Database Link</a>
      </td>
      <td><button>Add to the Shopping List</button></td>
    </tr>
    <tr>
      <td>200</td>
      <td>Nettlefish</td>
      <td>
        <a href="https://wotlkdb.com/?item=41813">External Database Link</a>
      </td>
      <td><button>Add to the Shopping List</button></td>
    </tr>
  </tbody>
</table>
<h2>Actions</h2>
<button>Add the Recipe to the Shopping List</button>
