<h1>{{ recipe.title }} - Recipe Details</h1>
<h2>Description</h2>
<p *ngFor="let descriptionLine of recipe.description">{{ descriptionLine }}</p>
<h2>Recipe Reagents</h2>
<table>
  <thead>
    <colgroup>
      <col width="15%" />
      <col width="30%" />
      <col width="30%" />
      <col />
    </colgroup>
    <tr>
      <th scope="col">Quantity</th>
      <th scope="col">Name</th>
      <th scope="col">External Database Link</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipeReagentInfo of recipe.reagents">
      <td>{{ recipeReagentInfo.quantity }}</td>
      <td>{{ recipeReagentInfo.reagent.name }}</td>
      <td>
        <a href="{{ recipeReagentInfo.reagent.externalDatabaseLink }}" target="_blank" rel="noopener noreferrer">{{ recipeReagentInfo.reagent.name }}</a>
      </td>
      <td>
        <button (click)="addRecipeReagentToShoppingList(recipeReagentInfo.reagent.id)">Add to the Shopping List</button>
      </td>
    </tr>
  </tbody>
</table>
<h2>Actions</h2>
<button (click)="addRecipeToShoppingList()">Add the Recipe to the Shopping List</button>
